@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container:hover>:not(:hover){
  filter: grayscale(0.1);
}

img{
  width: 100%;
  min-height: 300px;
  max-height: 335px;
  height: auto;
  transition: .4s ease all;
  -webkit-transition: .4s ease all;
  -moz-transition: .4s ease all;
  -ms-transition: .4s ease all;
  -o-transition: .4s ease all;
}

img:hover{
  scale: 102%;
}

.loading {
  width:100px;
  height:100px;
  border-radius:50%;
  border:16px solid;
  border-color:#E4E4ED;
  border-right-color: #1e293b;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}